{% extends "layout.html" %}

{% block content%}
<h2>Login Form</h2>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary">Login</button>

</form>
<p>Login <a href="{%url 'login' %}">
    Login here
</a></p>
{% extends "layout.html" %}

{% block content%}
<h2>Login Form</h2>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary">Login</button>

</form>
<p>Dont have and account? <a href="{%url 'register' %}">
    Register here
</a></p>
{% endblock %}